module RedmineEqualityPlan
  module RedminePatch
    module UserCustomPatch
      def self.included(base)
        base.class_eval do
          scope :in_company_custom, proc {
            # Define your custom scope
            # User.all
            # Group.find(42).users
          }
        end
      end
    end
  end
end
RedmineExtensions::PatchManager.register_model_patch 'User', 'RedmineEqualityPlan::RedminePatch::UserCustomPatch'
