module RedmineEqualityPlan
  module RedminePatch
    module UserCustomPatch
      def self.included(base)
        base.class_eval do
          scope :in_company_custom, proc {
            # Define your custom scope
            User.all
          }
          scope :for_age_range_custom, -> min, max {
            # Define your custom scope
            User.all
          }

          scope :for_contract_date_range_custom, -> min, max {
            # Define your custom scope
            User.all
          }

          scope :custom_receiving_training, -> {
            # Complete...
            in_company
          }

          scope :custom_worker_on_leave, -> {
            # Complete...
            in_company
          }

          scope :custom_with_salary, -> {
            # Complete...
            in_company
          }

          def self.custom_contract_types(users)
            # Complete
          end

          def self.custom_invested_in_training_amount
            4500
          end

          def custom_salary_amount
            2000
          end
        end
      end
    end
  end
end
