gender_custom_field_id: 1
birthday_custom_field_id: birthday_custom_field_id
contract_start_date_custom_field_id: contract_start_date_custom_field_id
contract_type_date_custom_field_id: contract_type_date_custom_field_id
